body{
	background: grey;
	width: 100%;
	margin-left: 25%;

}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px antiquewhite;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
div#header, div.gems{
	background-color: #444A58;
}
div#header, div.instructions{
	width: 50%;
}
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemIcon{
	height: 60px;
	margin: 10px;
}
#one:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#two:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#three:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
#four:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }